.business {
    padding-bottom: 94px;

    @media screen and (max-widht: 1200px) {
        display: none;
    }
}

.business-img {
    display: flex;

    & .img+.img {
        margin-left: 30px;
    }

}

.img {
    position: relative;
}

.business-heder {
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 370px;
    bottom: 0;
    left: 0;
}

.business-text {
    color: $white-text;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-align: center;
    text-transform: uppercase;

    padding-top: 27px;
    padding-bottom: 27px;

}