.button {
    background-color: $accent-color;
    color: $white-text;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    padding: 10px 32px;

    border: transparent;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

.hero-btn {
    @extend .button;

}

.footer-btn {
    @extend .button;
    margin-left: 12px;
}

.list-btn {
    background: #f5f4fa;

    border-radius: 4px;

    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    cursor: pointer;
    border: none;

    padding: 6px 22px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $white-text;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.modal-button {
    @extend .flex;
    position: absolute;
    box-sizing: border-box;

    background-color: #FFFFFF;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.form-btn {
    @extend .button;

    display: block;
    text-align: center;

    width: 200px;
    height: 50px;

    &:focus {
        background-color: #188CE8;
    }
}

.form-modal {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}