.form-checkbox {
    color: #757575;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}

.checkbox-polisi {
    position: absolute;
    overflow: hidden;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    
}

.checkbox-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid $text-color;
    border-radius: 4px;
}

.checkbox-polisi:checked+ .checkbox-icon {
    border-color: transparent;
    background-color: $accent-color;
    background-image: url('../../img/icon\ check.svg');
    background-size: contain;
    background-origin: border-box;
}

.checkbox-contract {
    color: $accent-color;
}