.contacts {

    @media screen and (max-width: 480px) {
        display: none;
    }

    @media screen and (min-widht: 1200px) {
        display: flex;
        margin-left: auto;
    }
}

.contacts .contacts-item+.contacts-item {
    @media screen and (min-widht: 1200px) {
    margin-left: 50px;
    }
}

.contacts-item {
    margin-bottom: 10px;
}

.contacts a {
    color: $main-color;

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-timing-function: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
        fill: $accent-color;
    }
}

.contacts-item--mail {
    @extend .flex;
}

.contacts--mail {
    @extend .flex;

    fill: currentColor;

    width: 16px;
    height: 16px;
    margin-right: 10px;
}