.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
}

.features-list .features-li+.features-li {
    margin-left: 30px;
}

.features-vector {
    @extend .flex;

    background-color: #f5f4fa;
    
    width: 270px;
    height: 120px;
    
    margin-bottom: 30px;
    border-radius: 4px;
}

.features-text {
    width: 270px;
    font-size: 14px;
    line-height: 1.7;
}

.features-heder {
    color: $text-color;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    text-transform: uppercase;

    margin-bottom: 10px;
}