.footer {
    background-color: $background-color;

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-section {
    margin-right: 70px;
}

.footer-header {
    color: #ffffff;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer-list {
    display: flex;
    margin-top: 20px;
}