.header-frame {
    position: relative;
    border-bottom: 1px solid #ececec;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
        justify-content: center;
    
    }
}

.header-menu-btn {
    position: relative;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 4;

    &:hover,
    &:focus {
        fill: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

}

.header-menu-btn .icon-cross {
    display: none;
}

.header-menu-btn.is-open .icon-cross {
    display: block;
}

.header-menu-btn.is-open .icon-menu {
    display: none;
}

