.form-modal {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.form-field {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
    margin-top: 12px;
}

.form-label {
    color: #757575;

    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-input {
    box-sizing: border-box;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;

    cursor: pointer;
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid $accent-color;
    }
}

.comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.01em;
    width: 370px;
    height: 120px;
    padding: 12px 16px;

    cursor: pointer;
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid $accent-color;
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);

        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
    }

    @media screen and (min-width: 1200px) {
        width: 448px;
        height: 120px;
    }
}

.form-icon {
    display: inline-block;
    position: absolute;

    top: 50%;
    left: 10px;

    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus~.form-icon {
    fill: $accent-color;
}