.modal {
    position: absolute;

    background-color: #FFFFFF;

    width: 528px;
    height: 581px;
    padding: 40px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-text {
    color: $text-color;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    resize: none;
}