.portfolio-container {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.portfolio {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    
}

.portfolio-element {

    @media screen and (min-width: 768px) and (max-width: 1199px) {

        margin-right: 30px;
        margin-bottom: 30px;

        width: calc((100% / 2 - 2 * 15px));
    }

    @media screen and (min-width: 1200px) {
        margin-right: 30px;
        margin-bottom: 30px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }

}

.portfolio-card {
    display: flex;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: column;
    height: 100%;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



.portfolio-box {
    flex-grow: 1;
    padding: 20px 24px 20px 24px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

.portfolio-images {
    position: relative;
    overflow: hidden;

}

.portfolio-img {
    @media screen and (min-width: 480px) {
        width: 450px;
        height: 294px;
    }
    
    @media screen and (min-width: 768px) {
        width: 354px;
        height: 294px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 370px;
        height: 294px;
    }
}


.portfolio-overlai {
    @extend .flex;
    position: absolute;

    background-color: rgba(33, 150, 243, 0.9);

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-element:hover .portfolio-overlai {
    transform: translateY(0);
}

.overlai-tex {

    color: $white-text;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    margin-left: 24px;
    margin-right: 24px;

}



.portfolio-heder {
    color: $text-color;

    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    
    color: $main-color;

    font-size: 16px;
    line-height: 1.9;
}