.social {
    @extend .flex;

    fill: #afb1b8;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $white-text;
        background-color: $accent-color;
    }
}


.socials-icon {
    @extend .flex;


}

.footer-social {
    @extend .flex;

    fill: $white-text;
    background-color: rgba(255, 255, 255, 0.1);

    width: 44px;
    height: 44px;

    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
    }

}

.footer-list .footer-li+.footer-li {
    margin-left: 10px;
}