<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WebStudio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./css/main.min.css">
</head>
<body>
    <div class="header-menu" id="menu-container" data-menu>
        <ul class="menu-nav list">
            <li class="menu-navigation"><a href="./index.html">Студия</a></li>
            <li class="menu-navigation"><a href="./portfolio.html">Портфолио</a></li>
            <li class="menu-navigation"><a href="">Контакты</a></li>
        </ul>
    
        <ul class="menu-contacts list">
            <li class="contacts-item">
                <a class="menu-contacts--tel" href="tel:0961111111">
                    +38 096 111 11 11</a>
            </li>
            <li class="menu-contacts-item">
                <a class="menu-contacts--mail" href="mailto:info@devstudio.com">
                    info@devstudio.com</a>
            </li>
            <ul class="menu-social">
                <a href="">Instagram</a>
                <a href="">Twitter</a>
                <a href="">Facebook</a>
                <a href="">LinkedIn</a>
    
            </ul>
    
    </div>
</body>